[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = ">=2.0"
django-environ = "*"
djangorestframework = "*"
django-allauth = "*"
django-rest-auth = "*"
"psycopg2" = "*"
django-rest-recaptcha = "*"
django-redis-cache = "*"
hiredis = "*"
django-qsessions = "*"
django-defender = "*"


[dev-packages]

django-extensions = "*"
django-webpack-loader = "*"
django-silk = "*"
"flake8" = "*"
pytest-django = "*"
pytest-cov = "*"


[requires]

python_version = "3.4"
