[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = ">=2.0"
django-environ = "*"
djangorestframework = "*"
django-allauth = "*"
django-rest-auth = "*"
"psycopg2" = "*"
django-rest-recaptcha = "*"
django-user-sessions = "*"


[dev-packages]

django-extensions = "*"
django-webpack-loader = "*"


[requires]

python_version = "3.4"
