@import '~vuetify/dist/vuetify'
@import 'transitions'

@font-face
  font-family: 'Coolvetica'
  font-style: normal
  font-weight: normal
  src: url('../assets/coolvetica.ttf')

.hnc-title
  font-family: Coolvetica

.darkBackground
  background-color: #303030 !important

.list-in-card > .list__tile
  height: 37px !important
  padding: 0px !important

.list-in-card-no-padding > .list__tile
  padding: 0px !important
